In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
print(type(empty_dict))

<class 'dict'>

In [5]:
student = {'name': 'tahir', 'age': 25, 'grade': 10}
print(student)
print(type(student))

{'name': 'tahir', 'age': 25, 'grade': 10}
<class 'dict'>

In [ ]:
# error
# single key is always used
student = {'name': 'tahir', 'age': 25, 'name': 10}
print(student)

{'name': 10, 'age': 25}

In [11]:
#accessing elements
student = {'name': 'tahir', 'age': 25, 'grade': 'A'}
print(student['grade'])
print(student['age'])


print(student.get('grade'))
print(student.get('age'))
#default
print(student.get('last_name', 'not available'))

A
25
A
25
not available

In [12]:
#modify dict
print(student)

student['age'] = 90
print(student)
student['address'] = 'india'
print(student)

{'name': 'tahir', 'age': 25, 'grade': 'A'}
{'name': 'tahir', 'age': 90, 'grade': 'A'}
{'name': 'tahir', 'age': 90, 'grade': 'A', 'address': 'india'}

In [13]:
#delete
del student['grade']
print(student)

{'name': 'tahir', 'age': 90, 'address': 'india'}

In [14]:
#methods
keys = student.keys()
print(keys)

values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['tahir', 90, 'india'])
dict_items([('name', 'tahir'), ('age', 90), ('address', 'india')])

In [ ]:
#shallow
#pass by ref - objects mutables

student_copy = student
print(student)
print(student_copy)

{'name': 'tahir', 'age': 90, 'address': 'india'}
{'name': 'tahir', 'age': 90, 'address': 'india'}

In [ ]:
student['name'] = 'abdul'
print(student)
print(student_copy)

#both got updated

{'name': 'abdul', 'age': 90, 'address': 'india'}
{'name': 'abdul', 'age': 90, 'address': 'india'}

In [ ]:
#deep copy
student_copy1 = student.copy()
print(student)
print(student_copy1)

{'name': 'abdul', 'age': 90, 'address': 'india'}
{'name': 'abdul', 'age': 90, 'address': 'india'}

In [18]:
student['name'] = 'tahir'
print(student)
print(student_copy1)

{'name': 'tahir', 'age': 90, 'address': 'india'}
{'name': 'abdul', 'age': 90, 'address': 'india'}

In [26]:
#iterate
for keys in student.keys():
    print(keys)

print('\n')

for value in student.values():
    print(value)

print('\n')


for k,v in student.items():
    print(f"{k}: {v}")

name
age
address


tahir
90
india


name: tahir
age: 90
address: india

In [27]:
#nested
students = {
    'std1': {
        'name': 'tahir',
        'age': '25'
    },
    'std2': {
        'name': 'abdul',
        'age': '17'
    }
}

print(students)

{'std1': {'name': 'tahir', 'age': '25'}, 'std2': {'name': 'abdul', 'age': '17'}}

In [28]:
#access nested
print(students['std1']['name'])
print(students['std2']['name'])

tahir
abdul

In [31]:
#iter nested
for id,info in students.items():
    print(f"{id}: {info}")
    for key,val in info.items():
        print(f"{key}: {val}")

std1: {'name': 'tahir', 'age': '25'}
name: tahir
age: 25
std2: {'name': 'abdul', 'age': '17'}
name: abdul
age: 17

In [ ]:
#dict comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

#conditional
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0, 64, 4, 36, 16}

In [44]:
#frequency of elements in a list using dict

nums = [1,1,2,2,2,3,3,3,3,4,4,4,4,4,4]

dict = {}

for num in nums:
    if num in dict:
        dict[num] += 1
    else:
        dict[num] = 1

print(dict)

{1: 2, 2: 3, 3: 4, 4: 6}

In [45]:
#merge dict
dict1 = {'a':1, 'b': 2}
dict2 = {'c':3, 'd': 4}

merge = {**dict1, **dict2}
print(merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}