In [4]:
#create
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

tpl = tuple()
print(tpl)

()
<class 'tuple'>
()

In [15]:
nums = tuple([1,2,3,4])
mixed = tuple(['hello', 1, 2, True])
print(nums)
print(mixed)

(1, 2, 3, 4)
('hello', 1, 2, True)

In [12]:
##access
print(nums[2])
print(nums[-1])

##slice
print(nums[1:4])
print(nums[::-1])

3
4
(2, 3, 4)
(4, 3, 2, 1)

In [16]:
#operations
concat = nums + mixed
print(concat)

(1, 2, 3, 4, 'hello', 1, 2, True)

In [17]:
mixed * 3

('hello', 1, 2, True, 'hello', 1, 2, True, 'hello', 1, 2, True)

In [ ]:
#immutable nature

lst = [1,2,3,4,5,6]
print(lst)

lst[1] = 'krish'
print(lst)

[1, 2, 3, 4, 5, 6]

[1, 'krish', 3, 4, 5, 6]

In [20]:
nums[1] = 'krish'
print(nums)

TypeError: 'tuple' object does not support item assignment

In [23]:
#methods

print(nums.count(3))
print(nums.index(3))

1
2

In [ ]:
#packing 

packed = 1,'hello',3.14
print(packed)

(1, 'hello', 3.14)

In [26]:
#unpacking

a,b,c = packed
print(a)
print(b)
print(c)

1
hello
3.14

In [27]:
#unpacking with *
nums= (1,2,3,4,5,6)

first, *middle, last = nums
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [34]:
##nested tuple
nested_list = [1, 2, [3, 4], [5, 6, [7, 8]], 9]
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)), 9)

print(nested_list[3][0:2])
print(nested_tuple[3][0:2])

[5, 6]
(5, 6)

In [38]:
##iterate

nested_tuple = (1, (2, 3), (4, 5, 6), (7, (8, 9)))

for sub in nested_tuple:
    if isinstance(sub, tuple):  # Check if the element is a tuple
        for item in sub:
            print(item, end=" ")
    else:
        print(sub, end=" ")
    print()

1
2 3
4 5 6
7 (8, 9)