In [ ]:
age = 25
name = 'tahir'
height = 5.8
is_man = True

# different data types

In [3]:
#convention

first_name = 'abdul'
last_name = 'rasheed'

In [8]:
#type conversion
#only numerical values
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [9]:
print(type(height))

height_int = int(height)
print(height_int)
print(type(height_int))

<class 'float'>
5
<class 'int'>

In [10]:
# dynamic typing
var = 10
print(var, type(var))

var = 'hello'
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [ ]:
#input
age = int(input('what is your age?')) #type cast
print(type(age))

<class 'int'>

In [19]:
#calculator

num1 = float(input('Enter num1:'))
num2 = float(input('Enter num2:'))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2
exponent = num1 ** num2

print('sum', sum)
print('diff', diff)
print('product', product)
print('quotient', quotient)
print('exponent', exponent)

sum 4.0
diff 0.0
product 4.0
quotient 1.0
exponent 4.0

In [16]:
result = 'hello' + str(5)
print(result)

hello5